<div class="page">
  <h1>Bienvenue sur la movie-thèque de la licorne</h1>
  <div class="topline">
    <div class="buttonone">
      <button class="kindmovie" (click)="goToKind()">Genre</button>
    </div>
    <div class="buttontwo">
      <button class="kindpublic" (click)="goToKindPublic()">Type de public</button>
    </div>
  </div>
  <div class="middleline">
    <div class="buttonthree">
      <button class="movie" (click)="goToMovie()">Nom de film</button>
    </div>
  </div>
  <div class="bottomline">
    <div class="buttonfour">
      <button class="actor" (click)="goToActor()">Acteur</button>
    </div>
    <div class="buttonfive">
      <button class="country" (click)="goToCountry()">Pays</button>
    </div>
  </div>
</div>
<div class="borderleft">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>
<div class="borderright">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>
